*{margin: 0;padding: 0}
ul li {list-style-type: none}
a {text-decoration: none}
.cf:after{content: '';display: table;clear: both}
body{ font-family: Segoe UI Light, Calibri; }


.top-up{
    height: 44px;
    line-height: 44px;
    width: 1200px;
    margin: 25px auto 0;

}
.top-up .log{
    width: 235px;
    float: left;
}
.top-up .tex{
    float: left;
    height: 22px;
    width:250px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    padding:0 0 0 20px;
    color: #999999;

}
.top-up .ss {
    float: right;
    position: relative;

}
.ss #text{
    width: 310px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 14px;
    font-size: 14px;

}
.ss .fd {
    position: absolute;
    line-height: 44px;
    top: 2px;
    right: 0px;
    width: 43px;
    height: 43px;

}
.top-milled{
    width: 1200px;
    margin: 6px auto 0;
    padding-left: 2px;
    line-height: 54px;

}
.list{
    float: left;
    width: 900px;

    margin-left: -237px;
}
.list li{
    float: left;
    font-size: 16px;

    padding-left: 2px;
    display: block;
    width: 102px;
    height: 54px;
}
.top-milled .right {
    float: right;

}
.right #ju{
    width: 63px;
    height: 27px;
    color: #fff;

    border: none;
}
.right #lg {
    width: 54px;
    height: 27px;
    color: #fff;
    margin-left: -7px;
    border: none;
    background-color: #a1a1a1;
}
.fort-box{
    width: 100%;
    height: 47px;
    background: #ff5842;
    border-top: 5px solid #e9422c;

}
.top-fort{
    height: 47px;
    line-height: 47px;
    width: 1200px;
    margin: 0 auto;

    color: #ffffff;
}
.anv li{
    float: left;
    display: block;
    text-align: center;
    height: 47px;
    padding: 0 22px  ;
    position: relative;

}
.anv li:hover{
    background: #e9422c;
}
.anv li span{
    position: absolute;
    top: 0px;
    right:-3px;
    color: #e9422c;
}
/*-------------------------------------------------------------------------------------*/
.middle{
    width: 1200px;
    height: 2378px;
    margin: 0 auto;
}
.middle-left {
    width: 880px;
    height: 2378px;

    float: left;
}
.middle-left-log{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding-left: 42px;
    margin-top: 20px;
    background: url("../images/m_03.png") no-repeat;
}
.left-list{
    width:900px;

    margin-top: 20px;

}
.left-list-box{
    width: 426px;
    height: 488px;
    border: 1px solid #eee;
    float: left;
    margin: 0 20px 20px 0;


}
.left-list-box dd{
    width: 426px;
    height: 400px;
    border: 1px solid #eee;
}



.left-list-dt1{
    font-size: 16px;
    padding-left: 16px;
    line-height: 32px;
}
.left-list-dt2{
    font-size: 2px;
    padding-left: 16px;
    line-height: 24px;
}
.left-list-dt2 a {
    color:#9f9f9f ;
}
.left-list-dt2 a span {
    color: #ffb2ab;
}

.middle #btn {
    width: 182px;
    height: 45px;
    margin-top: 20px;
    margin-left:349px ;
    border: none;
    background: #ff5842;
    color: #ffffff;
}
/*---------------------------------------*/
.middle-right {
    width: 304px;
    height: 2378px;

    float: right;
}
/*-----------------------------------------*/
.middle-right-log{

    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    font-size: 18px;
    margin-top: 20px;
    background: url("../images/01_img_07.png") no-repeat;
}
.middle-right-img .log{
    width: 306px;
    height: 149px;
    margin-top: 22px;
    background: url("../images/02_img_03.png") no-repeat;

}
.middle-right-img .log li{
    float: left;
    display: inline-block;
    width: 43px;
    height: 43px;
border: 1px solid red;
    margin: 0 6px 6px  0;
}
.middle-right-img .log li:hover{
    cursor: pointer;
}
.middle-right-c p{
    height: 72px;
    line-height: 72px;
    padding-left: 48px;
    background: url("../images/2_img1_03.png") no-repeat 0 22px;
}
.middle-right-c-ul li{
    float: left;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f6f6f6;
    margin: 0 1px 1px 0;
}
.middle-right-c-ul li a{
    color: #8f8f8f;
}
.middle-right-c-ul li:hover a{
    color: #fff;
}
.middle-right-c-ul li:hover{
    background: #ff5842;
    color: #fff;
}
.middle-right-a {
    height: 72px;

    line-height: 74px;
    padding-left: 42px;

    background: url("../images/3n_03.png") no-repeat 0 20px;
}
.middle-right-img{
    width: 100%;
    height: 146px;

}
.middle-right-img img{
    width: 100%;
    height: 146px;
}
.middle-right-list{
    width: 100%;
    height: 618px;

    margin-top: 20px;
}
.middle-right-list-ul{

}
.middle-right-list-ul li{
    float: left;
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-top: 5px solid #e9422c;
    text-align: center;
    background: #ff5842;
}
.middle-right-list-ul li a{
    color: #fff;
}
.middle-right-list-ul li:hover{
    cursor: default;
    background: #e9422c;
}
.middle-right-list-ul li span{
    position: relative;
    top: 0;
    left: 17px;
    color: #e9422c ;
}

.middle-right-box{
    width: 298px;
    height: 111px;
    border: 1px solid #ccc;
}
 .middle-right-box1 {
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px;

}
.middle-right-box1 img{
    width: 90px;
    height: 90px;
}
.middle-right-box2 {
    float: right;
    line-height: 22px;
    margin: 10px 5px 10px ;
    font-size: 14px;
}
.middle-right-box2 p:first-child a{
    color: #333;
}
.middle-right-box2 p:last-child a{
    color: #d6d6d6;
}
.middle-right-box2 p span {
    color: #e9422c;
}
/*----------------*/
.middle-right-t {
    height: 72px;

    line-height: 72px;
    padding-left:38px;
    background: url("../images/06_03.png") no-repeat 0 20px;
}
.middle-right-tul li{
    float: left;
    display:inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin: 0 4px 4px 0;
    background: #f6f6f6;
}
.middle-right-tul li a {
    color: #8f8f8f;
}
.middle-right-tul li:hover a{
    color: #fff;
}
.middle-right-tul li:hover{
    background: #ff5842;
}
.middle-right-vid{
    height: 272px;
    width: 300px;
    line-height: 72px;
    background: url("../images/06-Column_04 (2).png") no-repeat 0 20px;
}
.middle-right-vid p{
    padding-left:38px;
}
.middle-right-v{

    height: 200px;
}
.middle-right-w {
    height: 72px;

    line-height: 72px;
    padding-left: 38px;
    background: url("../images/07_portfolio_1-Column_09.png") no-repeat 0 20px;
}
.middle-right-tw p {
    width: 248px;
    height: 50px;
    font-size: 14px;
    line-height: 22px;
    padding-left: 52px;
    margin-top: 2px;
    color: #aeaeae;
    background: url("../images/08_portfolio_1-Column_12.png") no-repeat #f6f6f6;

}
.middle-right-tw p:hover{
    color: #fff;
    width: 244px;
    height: 46px;

    border: 2px solid #42a7d9;
    background: #50b4e6 url("../images/vc_15.png") 4px no-repeat;
}
.middle-right-n{
    height: 160px;
    width: 100%;
}
.middle-right-p1{
    height: 72px;

    line-height: 72px;
    padding-left: 38px;
    background: url("../images/9_portfolio_1-Column_09.png") no-repeat 0 20px;
}
.middle-right-p2{
    line-height: 40px;
    font-size: 16px;
}
.middle-right-p3{
    width: 300px;
    height: 40px;
    position: relative;
}
.middle-right-p3 .t{
    width: 296px;
    height: 38px;
    text-indent: 2em;

}
.middle-right-p3 .s{
    width: 90px;
    height: 42px;
    background: #e9422c;
    border: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
}

/*-----------------------------------------*/
.footer-box{
    width: 100%;
    background: #222f35;
    margin: 0 auto;

}
.footer{

    width: 1200px;
    background: #222f35;
    margin: 0 auto;
}
.left h2{

    height: 32px;
    line-height: 32px;

    text-indent: 2em;
    color: #ffffff;
    position: relative;
    top: 20px;
    left: 0;
    background: url("../images/13_portfolio_1-Column_13.png") no-repeat;
}

.footer .container .text{
    width: 370px;color: #738e9a;text-align: justify;

    margin-top: 20px;
    position: absolute;
}

.footer .container ul{
    position: relative;
    top:0;left: 450px;
    width: 749px;

}
.footer .container li{
    float: left;margin-left: 120px;
}
.footer .container h2{
    color: #fff;margin: 20px 0;
}
.footer .container p{
    color: #738e9a;margin: 10px 0;
}
.footer-foot{
    width: 100%;height: 53px;background: #172125;
}
.footer-foot .container{
    width: 1200px; margin: 0 auto;position: relative;
}
.footer-foot .container p{
    color: #738e9a;height: 53px;line-height: 50px;
}
.footer-foot .container img{
    position: absolute;right: 0;top: 7px;
}
